<div class="row">
  <aside class="col-sm-3">
    <div class="card text-white bg-primary mt-3">
      <img class="card-img-top" src=<%= @user.image %> alt="user-image">
        <div class="card-body">
          <h4 class="card-title"><%= @user.name %></h4>
        </div>
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mt-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= "active" if current_page?(user_path(@user)) %> bg-primary text-white">投稿</a></li>
      <li class="nav-item"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= "active" if current_page?(likes_user_path(@user)) %> bg-primary text-white">お気に入り</a></li>
    </ul>
    <%= render "layouts/posts", posts: @favorites %>
  </div>
</div>