<div class="row">
  <aside class="col-sm-3">
    <div class="card text-black bg-light mt-3">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "card-img-top mt4" %> 
      <% else %>
        <%= image_tag "books.jpg", class: "card-img-top mt4" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title mt-2 text-center"><%= @user.name %></h4>
      </div>
    </div>
    <div class="mt-3 text-center">
      <% if current_user == @user %>
        <%= link_to "ユーザー情報の編集", edit_user_path, class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mt-3">
      <li class="nav-item bd"><a href="<%= user_path(@user) %>" class="nav-link <%= "active" if current_page?(user_path(@user)) %> bd">投稿</a></li>
      <li class="nav-item bd"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= "active" if current_page?(likes_user_path(@user)) %> bg-light text-black bd">お気に入り</a></li>
    </ul>
    <%= render "layouts/posts", posts: @favorites %>
    <%= paginate @favorites %>
  </div>
</div>