<div class="row">
  <aside class="col-sm-3">
    <div class="card text-black bg-light mt-3">
      <% if @user.image? %>
        <%= image_tag @user.image.url, class: "card-img-top mt4" %> 
      <% else %>
        <%= image_tag "books.jpg", class: "card-img-top mt4" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title mt-2 text-center"><%= @user.name %></h4>
      </div>
    </div>
    <% if logged_in? %>
      <div class="mt-3 text-center">
        <% if current_user == @user %>
          <%= link_to "ユーザー情報の編集", edit_user_path, class: "btn btn-sm btn-info" %>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "ユーザーの削除", admin_user_path(id: @user.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm mt-2" %>
        <% end %>
      </div>
    <% end %>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mt-3">
      <li class="nav-item bd"><a href="<%= user_path(@user) %>" class="nav-link <%= "active" if current_page?(user_path(@user)) %> bg-right text-black bd">投稿</a></li>
      <li class="nav-item bd"><a href="<%= likes_user_path(@user) %>" class="nav-link <%= "active" if current_page?(likes_user_path(@user)) %> bd">お気に入り</a></li>
    </ul>
    <%= render "layouts/posts", posts: @posts %>
    <%= paginate @posts %>
  </div>
</div>

