
<h1 class="text-center mt-3 mb-6">投稿一覧</h1><br>
<div class="border border-dark rounded p-3 bg-light">
  <%= search_form_for @q do |f| %>
    <div class="form-group mt-3">
      <%= f.label :author_name, "著者名から探す" %>
      <%= f.search_field :author_name_cont, class: "form-control" %>
    </div>
    <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
  <% end %>
  
  <%= search_form_for @q do |f| %>
    <div class="form-group mt-3">
      <%= f.label :novel_title, "小説名から探す" %>
      <%= f.search_field :novel_title_cont, class:"form-control" %>
    </div>
    <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>
<ul class="list-unstyled mt-3">
  <% @posts.each do |post| %>
    <div class="row mt-5 mb-5">
      <div class="card text-black bg-light col-sm-3">
        <img class="card-img-top mt-4" src=<%= post.user.image %> alt="user-image">
          <h4 class="card-title text-center mt-2"><%= post.user.name %></h4>
      </div>  
      <ul class="list-group col-sm-8 ml-2"> 
        <li class="list-group-item media mb-3 text-center">     
          <div>
            <blockquote>
              <q class="lead"><%= post.introduce_content %></q>
            </blockquote>
          </div>
          <div>
            <p><%= post.author_name %> 『<%= post.novel_title %>』</p>
          </div>
          <%= render "layouts/show_button", post: post %>
        </li>
      </ul>
    </div>
  <% end %>
</ul>
 <%= paginate @posts %>

