<div class="row mt-3">
  <aside class="col-sm-3">
    <div class="card text-black bg-light">
      <% if @post.user.image? %>
        <%= image_tag @post.user.image.url, class: "card-img-top mt-4" %>
      <% else %>
        <%= image_tag "books.jpg", class: "card-img-top mt4" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title mt-2 text-center"><%= link_to "#{@post.user.name}", user_path(id: @post.user.id) %></h4>
      </div>
    </div>
  </aside>
  <ul class="col-sm-8 list-group">
    <li class="list-group-item list-group-item-secondary text-center">紹介する一節</li>
    <li class="list-group-item text-center">
      <div>
        <blockquote>
          <q class="lead"><%= @post.introduce_content %></q>
        </blockquote>
      </div>
      <div>
        <p><%= @post.author_name %> 『<%= @post.novel_title %>』</p>
      </div>
    </li>
    <li class="list-group-item list-group-item-secondary text-center">投稿者からのメッセージ</li>
    <li class="list-group-item text-center">
      <div>
        <p><%= @post.tweet_content %></p>
      </div>
    </li>
    <li class="list-group-item list-group-item-secondary text-center">こんな心情の時に読んでほしい</li>
    <li class="list-group-item text-center">
      <div>
        <% unless @post.tags.blank? %>
          <% @post.tags.each do |tag| %>
            <%= link_to "#{tag.tag_name}", tagged_post_path(tag_id: tag.id), class: "btn btn-outline-primary" %>
          <% end %>
        <% else %>
            <p>タグが選択されていません</p>
        <% end %>
      </div>
    </li>
    <li class="list-group-item list-group-item-secondary text-center">この小説を物語る画像</li>
    <li class="list-group-item text-center">
      <div>
        <% if @post.image? %>
          <%= image_tag @post.image.url, class: "img-responsive" %>
        <% else %>
          <p>画像が選択されていません</p>
        <% end %>
      </div>
    </li>
    <li class="list-group-item text-center list-group-item-secondary">
      <div class="fav_button_inline-block">
        <%= render "favorites/fav_button", post: @post %>
      </div>
      <% if current_user == @post.user %>  
        <%= link_to "削除", @post, method: :delete, data: { confirm: "本当に削除しますか？（データは復元しません）" }, class: "delete_button btn btn-danger" %>
        <%= link_to "編集", edit_post_path, class: "edit_button btn btn-info" %>
      <% end %>
    </li>
  </ul>
</div>
<div class="offset-sm-2 text-center mt-3">
  <%= link_to "戻る", "javascript:history.back()" %>
</div>