<div class="container">
  <div class="row mt-4">
    <div class="card text-white bg-info col-sm-3">
      <img class="card-img-top mt-4" src=<%= @post.user.image %> alt="user-image">
        <h4 class="card-title"><%= @post.user.name %></h4>
    </div>
    <ul class="col-sm-9 list-group">
      <li class="list-group-item list-group-item-secondary text-center">紹介する一節</li>
      <li class="list-group-item text-center">
        <div>
          <h3><%= @post.introduce_content %></h3>
        </div>
        <div>
          <p><%= @post.author_name %> <%= @post.novel_title %></p>
        </div>
      </li>
      <li class="list-group-item list-group-item-secondary text-center">投稿者からのメッセージ</li>
      <li class="list-group-item text-center">
        <div>
          <h3><%= @post.tweet_content %></h3>
        </div>
      </li>
      <li class="list-group-item list-group-item-secondary text-center">こんな心情の時に読んでほしい</li>
      <li class="list-group-item text-center">
        <div>
          <% unless @post.tags.blank? %>
            <% @post.tags.each do |tag| %>
              <%= link_to "#{tag.tag_name}", tagged_post_path(tag_id: tag.id), class: "btn btn-outline-primary" %>
            <% end %>
          <% else %>
              <p>タグが選択されていません</p>
          <% end %>
        </div>
      </li>
      <% if current_user == @post.user %>  
        <li class="list-group-item text-center list-group-item-secondary">
          <%= link_to "Delete", @post, method: :delete, data: { confirm: "本当に削除しますか？（データは復元しません）" }, class: 'btn btn-danger btn-lg' %>
        </li>
      <% end %>
      <li class="list-group-item text-center list-group-item-secondary ">
        <%= render "favorites/fav_button", post: @post %>
      </li>
    </ul>
  </div>
  <div class="offset-sm-3 text-center bt-3">
    <%= link_to "戻る", "javascript:history.back()" %>
  </div>
</div>
  