<div class="mb-3">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Bookstocks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" date-target="navbar-items">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <% if logged_in? %>
      <div class="collapse navbar-collapse" id="navbar-items">
        <ul class="navbar-nav">
          <% if current_user.admin? %>
            <li class="nav-item <%= "active" if current_page?(admin_users_path) %>"><%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item <%= "active" if current_page?(posts_path) %>"><%= link_to "投稿一覧", posts_path, class: "nav-link" %></li>
          <li class="nav-item <%= "active" if current_page?(searched_posts_path) %>"><%= link_to "検索する", searched_posts_path, class: "nav-link" %></li>
          <li class="nav-item <%= "active" if current_page?(new_post_path) %>"><%= link_to "投稿する", new_post_path, class: "nav-link" %></li>
        </ul>
      </div>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'My profile', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to "logout", logout_path, method: :delete %></li>
            </ul>
        </li>
      </ul>
    <% end %>
  </nav>
</div>
